// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

/* css reset */
html, head, body, header,
nav, h1, a, ul, li, main,
section, p, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

header, nav, main, section,
footer, small {
  display: block;
}

ul {
  list-style: none;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* body */

.main-container {
  display: flex;
  // border: 2px solid blue;
  align-items: center;
  justify-content: center;
  .canvas-container {
    // border: 2px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    // align-items: center;
    // margin-left: auto;
    // margin-right: auto;
    #gameView {
      margin-top: 18px;
      // border: 2px solid blue;
      display: block;
      justify-content: center;
      box-shadow: 0px 0px 5px 2px lavender;
      border-radius: 8px;
    }
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    // border: 2px solid white;
    margin-top: 40px;
    button {
      padding: 30px;
      background: none;
      border: none;
      // border: 2px solid orange;
    }
    button:visited {
      border: none;
    }
    img {
      cursor: pointer;
    }
  }
}


#title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(202, 197, 211);
  text-shadow: 6px 4px 5px #974697;
  font-size: 94px;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  // font-style: italic;
  margin-top: 10px;
  height: 120px;
  // border: 2px solid blue;
}

.modal-background {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 198, 230, 0.5);
  z-index: 1;
}

#instructions_modal {
  display: block;
  // padding-right: 0%;
}

.modal-child {
  // display: flex;
  // flex-wrap: wrap;
  // position: relative;
  // margin: 10% auto;
  // justify-content: space-between;
  // align-items: center;
  position: absolute;
  background-color: rgba(43, 24, 43, 0.7);
  width: 400px;
  height: 150px;
  border-radius: 40px 0 40px 0;
  // top: 100px;
  box-shadow: 0px 0px 17px 7px rgb(238, 211, 247);
  padding: 40px 40px;
  // border: 2px solid blue;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.instructions-text {
  // display: flex;
  // border: 2px solid blue; 
  p {

    color:rgb(193, 169, 202);
    font-size: 20px;
    font-family: 'Akaya Telivigala', cursive;
    line-height: 1.33;
  }
  .center-text {
    // border: 2px solid orange;
    display: flex;
    justify-content: center;
  }
}


#score-container {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: bold;
  color:lavender;
  font-family: 'Bitter', serif;
  // padding-top: 5px;
}

#lives-container {
  display:flex;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: bold;
  color:lavender;
  font-family: 'Bitter', serif;
  padding-top: 2px;
}

// #background {
//   display: none;
// }

#img_ship {
  display: none;
}

#img_ban {
  display: none;
  // border: 2px solid yellow;
}

// #hello {
  // visibility: visible;
  // display: block;
// }

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  .linkedin {
    width: 70px;
    height: 70px;
  }
  .github {
    width: 56px;
    height: 56px;
  }
}

#game-over {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  position: absolute;
  width: 300px;
  height: 110px;
  padding: 15px 30px;
  font-size: 26px;
  color:rgb(193, 169, 202);
  background-color: rgba(43, 24, 43, 0.7);
  border-radius: 40px 0 40px 0;
  box-shadow: 0px 0px 17px 7px rgb(238, 211, 247);  
  font-family: 'Akaya Telivigala', cursive;
  left: 37%;
  // border: 2px solid blue;
  a {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  button {
    border: none;
    background: none;
    padding: none;
    font-size: 18px;
    color:rgb(193, 169, 202);
    font-family: 'Akaya Telivigala', cursive;
    cursor: pointer;
  }
}



